/* .project-card-split {
    display: flex;
    background: #f1f4ff;
    padding: 64px;
    border-radius: 40px;
    gap: var(--cora-element-gap, 60px);
    align-items: center;
}

.project-content-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.industry-tag { font-family: 'Serif', serif; font-style: italic; font-size: 24px; color: #0f172a; }
.project-name { margin: 0 !important; font-size: 42px; font-weight: 850; color: #0f172a; }
.project-desc { margin: 0 !important; font-size: 18px; color: #475569; line-height: 1.6; max-width: 500px; }

.project-stats-grid {
    display: flex;
    gap: 48px;
    margin: 12px 0;
}
.stat-label { display: block; font-weight: 700; color: #0f172a; font-size: 18px; margin-bottom: 8px; }
.stat-val { font-size: 24px; color: #64748b; }

.author-cta-pill {
    display: inline-flex;
    align-items: center;
    background: #818cf8;
    padding: 12px 24px 12px 12px;
    border-radius: 20px;
    color: #ffffff;
    text-decoration: none;
    gap: 16px;
    width: fit-content;
    transition: transform 0.3s ease;
}
.author-cta-pill:hover { transform: translateY(-3px); }
.author-thumb { width: 56px; height: 56px; border-radius: 12px; object-fit: cover; }
.author-info .name { display: block; font-weight: 700; font-size: 20px; }
.author-info .role { font-size: 14px; opacity: 0.8; }

.project-media-right { flex: 1.2;  }
.main-project-img { width: 100%; height: 100%; object-fit: cover; border-radius: 32px; }

@media (max-width: 1024px) {
    .project-card-split { flex-direction: column-reverse; padding: 32px; }
    .project-media-right { height: 350px; width: 100%; }
}

@media (max-width: 768px) {
    .project-header .project-name { font-size: 32px; }
    .project-header .project-desc { font-size: 16px; }
} */