/* .cora_adv_heading_wrapper {
    position: relative;
    width: 100%;
}

.cora_adv_heading_title {
    margin: 0;
    line-height: 1.2;
    font-weight: 700;
    color: #101828;
    position: relative;
    z-index: 1;
    word-wrap: break-word;
}

.cora_head_main {
    margin-right: 0.25em;
    display: inline;
}

.cora_head_highlight_wrap {
    position: relative;
    display: inline-block;
    z-index: 1;
    line-height: 1;
}

.cora_head_highlight {
    position: relative;
    z-index: 2;
    color: inherit;
    display: inline-block;
}

.cora_brush_layer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: auto;

    z-index: 1;
    pointer-events: none;

    display: flex;
    align-items: center;
    justify-content: center;

}

.cora_brush_layer img,
.cora_brush_layer svg {
    width: 100%;
    height: auto;
    display: block;
    overflow: visible;
}

.cora_adv_desc {
    font-size: 18px;
    color: #475467;
    line-height: 1.6;
    margin-top: 16px;
}

@media (max-width: 767px) {

    .cora_adv_heading_title {
        font-size: 32px;
    }

    .cora_brush_layer {
        max-width: none;
    }
} */